header {
  background-color: #282c34;
  position: relative;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

label{
  margin-right: 15px;
}
header a {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  text-decoration: none;
}
header a:hover {
  color: #1890ff;
}

.activeLink {
  color: #1890ff;
}

.langs {
  position: fixed;
  left: 50px;
  bottom: 50px;
}
