header {
  background-color: #282c34;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navigation{

}
header a {
  color: aliceblue;
  margin-left: 15px;
  text-decoration: none;
}
header a:hover {
  color: rgb(0, 146, 146);
}

.activeLink {
  color: rgb(0, 146, 146);
}
